*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    
   
}
nav {
    position: fixed;
    display: flex;
    background: #00cec9;
    width: 100%;
    height: 60px;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: #fff;
    border: 2px solid white;
    text-decoration: none;
   margin-left: 10px;

    
}
.container{
   display: flex;
   
    
}
article{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
   margin-top: 80px;
   border-radius: 5px;
}
article h1{
    text-align: center;
   
}
article h2{
    text-align: center;
    margin-top: 10px;
}
article h4{
    border: 2px solid #00cec9;
    text-align: center;
    margin: 10px 20px 20px 20px;
}
article p{
    
    font-size: 10px;
}
article h3{
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
    margin: 10px 50px;
    margin-top: 40px;
}
article ol{
    margin-left: 40px;
    margin-top: 10px;
}
article ul{
    margin-left: 40px;
    margin-top: 10px;
}

